.container {
  width: 100%;
  height: 100px;
  background-color: rgb(170, 204, 241);
  text-align: center;
  top: 0;
  position: fixed;
  z-index: 1000; /* Ensure the header stays above other content */
  /* overflow-y: auto;  */
  /* background-image: url("https://i.pinimg.com/originals/33/8e/de/338ede5f9f949b9c4cc6c1c0c15c6a00.jpg"); */
}

.innerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  margin-left: 30px;
  margin-right: 30px;
}
.Main_Head_Logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Header_Logo {
  width: 80px;
  height: 80px;
}

.Main_header {
  color: rgb(13, 4, 75);
  font-size: calc(10px + 1.5vmin);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-left: 5px;
}

.Header-Userdetails {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}

.Links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .Links {
    /* display:none; */
  }
}

.Header_Links_User {
  text-decoration: none;
  font-weight: 600;
  font-size: calc(5px + 1vmin);
  color: rgb(17, 5, 97);
}
.Header_Links_Button {
  font-weight: 600;
  font-size: calc(10px + 1.5vmin);
  color: blue;
  margin-top: 5px;
  padding: 3px;
}

.Header_Links {
  text-decoration: none;
  margin: 10px;
  font-weight: 600;
  font-size: calc(5px + 1vmin);
  color: rgb(17, 5, 97);
  padding: 5px;
}

.Header_Links:hover {
  background-color: rgb(139, 154, 239);
  cursor: pointer;
  border: 0px solid black;
  border-radius: 30px;
}

.Header_Links_Button:hover {
  background-color: white;
  cursor: pointer;
  border: 0px solid black;
  border-radius: 10px;
}

/* Add this CSS for dropdown menu */
.dropdown {
  display: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 1;
  margin-left: -80px; /* Adjust this value to center the dropdown relative to the menu */
  left: 10%; /* Align the left edge of the dropdown with the center of the menu */
  top: 100%; /* Position the top of the dropdown below the menu */
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropbtn {
  background-color: #8ca9ed;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

@media (max-width: 720px) {
  .dropdown {
    display: inline-block;
    position: relative;
  }

  .desktop-links {
    display: none;
  }
}

.dropdown-content.show {
  display: block;
}
